body{
    background-image: url("./nicCageBg.png");
    color: white;
}

a{
    background-color: black;
    padding: 25px;
    margin-top: 50px
}

.nicBio{
    background-color: black;
    margin-bottom: 25px;
}